
.movie {
  display: block;
  width: 50%;
  color: #525f7f;

  &__crawl {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;

    h2 {
      margin: 5px 0 15px;
    }

    p{
      line-height: 32px;
      opacity: .8;
      padding: 5px 0 35px;
      margin: 5px 0 10px;
    }
  }

  &__filter {
    display: flex !important;
    justify-content: flex-end;

    label {
      // position: absolute;
      // top: 24px;
      // left: 13px;
    }

    .MuiFormControl-root {
      display: flex;
      width: 150px;
      position: relative;
      margin: 5px 0 30px;
      padding: 0 15px;
    }
  }

  &__table {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    width: 100%;
    table-layout: fixed;

    button{
      width: 100%;
      display: flex;
      -webkit-appearance: none;
      border: none;
    }

    th {
      border-top: none;
      color: #525f7f;
      font-weight: 500;
      font-size: 0.9rem;
      border-bottom: none;
      text-align: left;
      padding-left: 15px;
      padding-right: 40px;
      background: #fff;
    }

    tr {
      height: 50px;
      &:nth-of-type(odd) {
        background-color: #fbfdff;
      }

      td {
        color: #525f7f;
        vertical-align: middle;
        border-top: 1px solid #f1f1f1;
        padding: 20px;
        text-align: left;
      }
    }
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.animated-text {
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}